<div class="devise_page page-down">
  <div class="input_form_container">
    <%= form_with model: @post, url: pages_path do |f| %>
      <div class="box-name">
        <%= f.label "スポットの名前" %><br />
        <%= f.text_field :name %>
      </div> 
      <div class="box-image">
        <%= f.label "画像を登録する" %>
        <%= f.file_field :images %>
      </div>
      <div class="box-address">
        <%= f.label "住所" %><br />
        <%= f.text_field :address %>
      </div> 
      <h4 class="business_time">営業時間(あれば)</h4>
      <div class="box-starthour">
        <div class="start_time">
          <%= f.label "開始時刻" %><br />
          <%= f.time_field :business_hours_start %>
        </div>
        <div class="end_time">
         <%= f.label "終了時刻" %><br />
         <%= f.time_field :business_hours_end %>
        </div>
      </div> 
      <div class="box-fee">
        <%= f.label "入場料など" %><br />
        <%= f.number_field :fee %>円
      </div>
      <div class="eat_walk">
        <%= f.label "食べ歩き(可の場合☑︎):" %>
        <%= f.check_box :eat_walk %>
      </div>
      <div class="stay_time">
        <%= f.label "滞在時間の目安" %><br />
        <%= f.select :stay_time, ['1時間以内', '数時間', '半日', '一日'] %>
      </div>
      <div class="box_description">
        <%= f.label "スポットについての情報" %><br />
        <%= f.text_area :description %>
      </div>
      <span>タグ</span>
      <%= react_component("TagName", {tag: Tag.all}) %>
      <div class="devise-button">
        <%= f.submit "スポットを追加する" %>
      </div>
    <% end %>
  </div>
</div>